* {
    font-family: 'Joan', serif;
    background-color: black;
    color: white;
}

table#band {
    width: 100%;
    border: none;
    fill: white
}

table#band,
th,
td {
    border: none;
    border-collapse: collapse;
}

th {
    border-radius: 10pxw;
}

td.band_member img {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    width: 200px;
    height: 180px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    font-style: normal;
}

.member-column {
    background-color: white;
}

.navbar {
    background-color: lightseagreen;
    width: 100%;
}

.instrument {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    color: #ababab;
}

.slideshow-container {
    position: relative
}
.slideshow-container:hover {
    display: block
}

.slideshow-center .w3-bar {
    display: inline-block;
    width: auto
}

