* {
    font-family: 'Joan', serif;
    background-color: black;
    color: white;
}

table#band {
    width: 100%;
    border: none;
    fill: white
}

table#band,
th,
td {
    border: none;
    border-collapse: collapse;
}

th {
    border-radius: 10pxw;
}

td.band_member img {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    width: 200px;
    height: 180px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    font-style: normal;
}

.member-column {
    background-color: white;
}

.navbar {
    background-color: lightseagreen;
    width: 100%;
    height: 60px;
}

h1 {
    letter-spacing: 3px;
    font-size: 300px;
    font-weight: bold;
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: darkcyan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: lightblue;
    color: white;
  }

.instrument {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    color: #ababab;
}

.slideshow-container {
    position: relative
}
.slideshow-container:hover {
    display: block
}

.slideshow-center .w3-bar {
    display: inline-block;
    width: auto
}

